
<html>

<head>
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="../css/header.css">
</head>

<body>
    <div class="header">
        <a href="http://localhost:8080/camagru/admin/profile.php" class="logo">Camagru</a>
        <div class="header-right">
            <a href="http://localhost:8080/camagru/admin/profile.php">Home</a>
            <a href="http://localhost:8080/camagru/gallery/camera.php">Camera</a>
            <a href="http://localhost:8080/camagru/admin/logout.php">Logout</a>
        </div>
    </div>

</body>

</html>