<html lang="en">
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        
        <div class="form-area">
            {% if message %}
                <p style="color:red">{{ message }}</p>
            {% endif %}
            <h1>Login to Matcha</h1>
            <form action="" method="POST">
                <p>Username:</p>
                <input type="text" name="username" placeholder="Enter your username"><br>
                <p>Password:</p>
                <input type="password" name="password" placeholder="Enter your password"><br><br>
                <input type="submit" name="login" value="Sign In"><br>
                <h3>Don't have an account?<a href="{{ url_for('register') }}"> Register here</a></h3> 
                <h3>Forgot your password?<a href="{{ url_for('reset_request') }}"> Click here</a></h3> 
            </form>
        </div>
</body>
</html>