<html lang="en">
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        
        <div class="form-area">
            {% if message %}
                <p style="color:red">{{ message }}</p>
            {% endif %}
            <h1>Reset request</h1>
            <form action="" method="POST">
                <p>email:</p>
                <input type="email" name="email" placeholder="Enter your email"><br><br>
                <input type="submit" name="reset_request" value="Reset"><br>
            </form>
        </div>
</body>
</html>